@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
.carousel{
    position: relative;
    z-index: 1;
}
.carousel::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.4;
    height: 100%;
    width: 100%;
}
.home__container{
    max-width: 100vw;
    height: 100vh;
}
.home__container-block{
    position: absolute;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}
.home__container-block > h1{
    color: white;
    font-size: 64px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.home__container-block > h6{
    color: white;
    font-size: 32px;
    font-weight: 500;
    text-transform: uppercase;
}
.slider__image-container{
    height: 95vh;
    max-width: 100vw;
    background-position: center;
    background-size: contain;
}
.slider__img{
    width: 100%;
    height: 100%;
}
.home__container-btn{
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    border-radius: 20px;
    border: none;
    text-transform: capitalize;
    margin: 10px 0 0 0;
}
.services__card-container{
    gap: 2rem;
    flex-direction: row;
}

.services__card{
    width: 500px;
    height: 400px;
    position: relative;
    border-radius: 20px;
}
.services__card::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    opacity: .4;
    overflow: hidden;
    border-radius: 20px;
}
.services__card-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 20px;
}
.services__card-content{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 99;
    text-align: left;
    padding: 0 0 0 10px;
    color: white;
}
.services__card-content  h4{
    cursor: pointer;
}
.contact__container > h1{
    text-align: center;
}

.contactUS__container{
    justify-content: space-around;
}
.contactUS__container > *{
    flex-basis: 100%;
    max-width: 500px;
    max-height: 300px;
    padding: 20px;
}
.contactUS__container > * + *{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    border-radius: 20px;
}
.footer{
    max-width: 100vw;
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f9f9f9;
}
.footer > * {
    display: flex;
}
.footer__links > * + *{
    margin: 0  0 0 50px;
}
.footer__socialLinks > *{
    font-size: 24px;
    display: flex;
    align-items: center;
}
.footer__socialLinks > * + * {
    margin: 0 0 0 25px;
}
@media  screen and (max-width: 640px) {
    .services__card-container{
        flex-direction: column;
    }
    .contactUS__container{
        flex-direction: column;
    }
}